# OS / Éditeur
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
venv/
.venv/

# Node / Angular
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode

# Django
backend/__pycache__
backend/**/*.pyc
backend/.pytest_cache

# Logs / Cache
*.log
*.tmp
*.pid
*.seed
.cache/
.coverage
pytest_cache/
**/.git
**/.DS_Store

# Docker
docker/*.log
docker/tmp/

# Git
.git
.gitignore

# Autres fichiers inutiles au build
README.md

