<div class="hb" [class.hb--center]="align === 'center'">
  <div class="hb__left">
    <h2 class="hb__title">{{ title }}</h2>
    <p *ngIf="subtitle" class="hb__subtitle">{{ subtitle }}</p>
  </div>
  <div class="hb__right" *ngIf="actionLabel">
    <ng-container *ngIf="actionLink; else asButton">
      <a class="hb__link" [routerLink]="actionLink">{{ actionLabel }}</a>
    </ng-container>
    <ng-template #asButton>
      <shared-button size="sm" variant="outline" (click)="action.emit()">
        {{ actionLabel }}
      </shared-button>
    </ng-template>
  </div>
</div>
