<shared-container>
  <shared-headline-bar
    [title]="'bookings.title' | t"
    [actionLabel]="'common.back' | t"
    [actionLink]="'/' + lang()">
  </shared-headline-bar>

  <ng-container *ngIf="vm$ | async as vm">
    <!-- Loading -->
    <div class="state muted" *ngIf="vm.state === 'loading'">
      {{ 'common.loading' | t }}
    </div>

    <!-- Error -->
    <div class="state error" *ngIf="vm.state === 'error'">
      <shared-badge variant="danger" tone="soft">{{ vm.message || ('bookings.load_error' | t) }}</shared-badge>
    </div>

    <!-- Ready -->
    <ng-container *ngIf="vm.state === 'ready'">
      <div class="empty" *ngIf="!vm.items.length">
        <shared-badge variant="muted" tone="outline">{{ 'bookings.empty' | t }}</shared-badge>

      </div>

      <div class="grid" *ngIf="vm.items.length">
        <shared-card *ngFor="let b of vm.items; trackBy: trackById" class="bk-card">
          <!-- header -->
          <div header class="bk-head">
            <h3 class="h6 title">#{{ b.id }}</h3>
            <div class="badges">
              <shared-badge variant="primary" [variant]="badgeVariant(b)">
                {{ ('bookings.status.' + b.status) | t }}
              </shared-badge>
            </div>
          </div>

          <!-- body -->
          <div class="bk-body">
            <div class="row">
              <span class="label">{{ 'bookings.when' | t }}</span>
              <span class="value">{{ dateLabel(b.event_start) }}</span>
            </div>
            <div class="row">
              <span class="label">ID {{ 'events.title' | t }}</span>
              <span class="value">#{{ b.event }}</span>
            </div>
          </div>

          <!-- footer -->
          <div footer class="bk-foot">
            <shared-button
              variant="outline"
              size="sm"(click)="booking = b;showDetail = true" >
              {{ 'common.details' | t }}
            </shared-button>

<!--            <shared-button-->
<!--              size="sm"-->
<!--              variant="danger"-->
<!--              type="button"-->
<!--              [disabled]="!canCancel(b)"-->
<!--              (click)="cancel(b)">-->
<!--              {{ 'common.cancel' | t }}-->
<!--            </shared-button>-->
          </div>
        </shared-card>
      </div>
    </ng-container>
  </ng-container>
</shared-container>
<app-booking-detail
  *ngIf="showDetail"
  [booking]="booking"
  [asModal]="true"
  (close)="showDetail = false">
</app-booking-detail>
