<form (ngSubmit)="onNext()" #f="ngForm" class="form">
  <div class="form__row">
    <shared-input
      id="prenom"
      name="prenom"
      label="{{ 'register.firstTab.firstName' | t }}"
      [(ngModel)]="firstTabInfo.prenom"
      [errorMessage]="(formNotValid && firstTabInfo.prenom.length===0) || (!!serverErrors.prenom?.length)"
      required>
    </shared-input>
    <ng-container *ngIf="serverErrors.prenom as prenomErrs">
      <div class="error-message" *ngIf="prenomErrs.length">{{ prenomErrs[0] }}</div>
    </ng-container>
  </div>

  <div class="form__row">
    <shared-input
      id="nom"
      name="nom"
      label="{{ 'register.firstTab.lastName' | t }}"
      [(ngModel)]="firstTabInfo.nom"
      [errorMessage]="(formNotValid && firstTabInfo.nom.length===0) || (!!serverErrors.nom?.length)"
      required>
    </shared-input>
    <ng-container *ngIf="serverErrors.nom as nomErrs">
      <div class="error-message" *ngIf="nomErrs.length">{{ nomErrs[0] }}</div>
    </ng-container>
  </div>

  <div class="form__row">
    <shared-input
      id="age"
      name="age"
      type="number"
      label="{{ 'register.firstTab.age' | t }}"
      [errorMessage]=" (formNotValid && firstTabInfo.age<18) || (!!serverErrors.age?.length)"
      [(ngModel)]="firstTabInfo.age">
    </shared-input>
    <div class="error-message" *ngIf="formNotValid && firstTabInfo.age < 18">
      {{ 'register.firstTab.ageError' | t }}
    </div>
    <ng-container *ngIf="serverErrors.age as ageErrs">
      <div class="error-message" *ngIf="ageErrs.length">{{ ageErrs[0] }}</div>
    </ng-container>
  </div>
  <div class="form__row">
    <label for="native-select">{{ 'register.firstTab.nativeLangs' | t }}</label>
    <shared-multi-select
      id="native-select"
      [options]="langOptions()"
      [error] = "(formNotValid && firstTabInfo.native_langs.length===0) || (!!serverErrors.native_langs?.length)"
      [value]="firstTabInfo.native_langs"
      (valueChange)="onNativeChange($event)"
      [placeholder]="'register.firstTab.selectLang' | t">
    </shared-multi-select>
   <ng-container *ngIf="serverErrors.native_langs as nativeErrs">
     <div class="error-message" *ngIf="nativeErrs.length">{{ nativeErrs[0] }}</div>
   </ng-container>
   </div>

  <div class="form__row">
    <label for="target-select">{{ 'register.firstTab.targetLangs' | t }}</label>
    <shared-multi-select
      id="target-select"
      [options]="langOptions()"
      [error] = "(formNotValid && firstTabInfo.target_langs.length===0) || (!!serverErrors.target_langs?.length)"
      [value]="firstTabInfo.target_langs"
      (valueChange)="onTargetsChange($event)"
      [placeholder]="'register.firstTab.selectLang' | t">
    </shared-multi-select>
    <ng-container *ngIf="serverErrors.target_langs as targetErrs">
      <div class="error-message" *ngIf="targetErrs.length">{{ targetErrs[0] }}</div>
    </ng-container>
   </div>
 </form>
 <navigation-buttons
   [showPrev]="false"
   [showNext]="true"
   [prevLabel]="'common.back'"
   [nextLabel]="'common.next'"
   [prevDisabled]="true"
   [nextDisabled]="false"
   [block]="true"
   align="between"
   (nextClick)="onNext()">
 </navigation-buttons>
